body {
    background: #F6F6F3;
    color: #444;
}

.ngr-admin-main {
    width: 100%;
}

.ngr-admin-main-div {
    max-width: 1160px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

.ngr-admin-label {
    font-weight: 900;
    font-size: 18px;
    line-height: 35px;
}

.layui-form-item {
    margin-bottom: 0 !important;
}